@charset "utf-8"; 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,a { 
	margin:0; 
	padding:0; 
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
} 
html,body{
	width: 100%;
	height: 100%;
	color: #333;
	font-family: "Microsoft YaHei","Helvetica Neue",Tahoma, Arial,sans-serif;
	font-size: 15px;
}
.clearfix:before,.clearfix:after { 
	content:""; 
	display:table; 
} 
.clearfix:after { 
	clear:both; 
	overflow:hidden; 
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
} 
.clearfix { 
	zoom:1;  
} 
.home{
	background: #004a8b url(../images/bg.png) repeat;
}
.bottom{
	height: 56%;
	position: absolute;
	width: 100%;
	bottom:0;
	background-size: 100% 100%;
	background-image: url(../images/home-bg.png);
}
.wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
	z-index: 2;
}
.photo{
	width: 260px;
	height: 260px;
	position: absolute;
	z-index: 100;
	left: 50%;
	top:50%;
	margin-left: -130px;
	margin-top: -130px;
	border-radius: 50%;
	overflow: hidden;
	padding:4px;
}
.photo-t{
	position: absolute;
	top:0;
	left:0;
	height: 50%;
	width: 100%;
	background-color: #fff;
}
.photo-b{
	position: absolute;
	bottom:0;
	left:0;
	height: 50%;
	width: 100%;
	background-color: #004a8b;
}
.photo-img{
	overflow: hidden;
	border-radius: 50%;
}
.photo-img img{
	display: block;
	width:100%;
	height: 100%;
	position: relative;
	z-index: 3;
	transform: rotate(0.5deg);
	-webkit-transform: rotate(0.5deg);
	-moz-transform: rotate(0.5deg);
	-ms-transform: rotate(0.5deg);
}
.ct{
	width: 260px;
	height: 260px;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -130px;
	margin-top: -130px;
	border-radius: 50%;
	padding:4px;
}
.item-line{
	border-width: 1px;
	border-style: solid;
	width: 2px;
	height: 250px;
	left:129px;
	bottom:130px;
	position: absolute;
	z-index: 10;
  	transform-origin:0% 100%;
}
a.item-block,
.item-block{
	position: absolute;
	z-index: 10;
	border-radius: 50%;
	border-width:2px;
	border-style: solid;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 70px;
    height: 70px;
    line-height: 66px;
    box-shadow: 0 0 10px 7px rgba(255,255,255,.3);
	/*background:url(../images/temp.png) no-repeat center center / 100% 100%;*/
}
.item-block:hover{
	box-shadow: 0 0 10px 10px rgba(255,255,255,.3);
}
.item-line.item1{
	border-color: #ff053b;
    -webkit-transform: rotate(-75deg);
    -moz-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    transform: rotate(-75deg);
}
.item-block.item1{
	border-color: #ff053b;
    left: -181px;
    top: 21px;
    color: #ff053b;
}
.item-line.item2{
	border-color: #ff8800;
	-webkit-transform: rotate(-50deg);
	-moz-transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
    transform: rotate(-50deg);
}
.item-block.item2{
	border-color: #ff8800;
    left: -124px;
    top: -89px;
    color: #ff8800;
}
.item-line.item3{
	border-color: #21ff2c;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
.item-block.item3{
	border-color: #21ff2c;
    left: -26px;
    top: -163px;
    color: #21ff2c;
    box-shadow: 0 0 10px 7px rgba(33,255,44,.3);
}
.item-block.item3:hover{
	box-shadow: 0 0 10px 10px rgba(33,255,44,.3);
}
.item-line.item4{
	border-color: #0aefff;
}
.item-block.item4{
	border-color: #0aefff;
    left: 95px;
    top: -190px;
    color: #0aefff;
    box-shadow: 0 0 10px 7px rgba(10,239,255,.3);
}
.item-block.item4:hover{
	box-shadow: 0 0 10px 10px rgba(10,239,255,.3);
}
.item-line.item5{
	border-color: #fbff05;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
}
.item-block.item5{
	border-color: #fbff05;
    left: 215px;
    top: -163px;
    color: #fbff05;
    box-shadow: 0 0 10px 7px rgba(251,255,5,.3);
}
.item-block.item5:hover{
	box-shadow: 0 0 10px 10px rgba(251,255,5,.3);
}
.item-line.item6{
	border-color: #b7cec1;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
}
.item-block.item6{
	border-color: #b7cec1;
    left: 314px;
    top: -89px;
    color: #b7cec1;
}
.item-line.item7{
	border-color: #ff0af7;
	-webkit-transform: rotate(75deg);
	-moz-transform: rotate(75deg);
	-ms-transform: rotate(75deg);
    transform: rotate(75deg);
}
.item-block.item7{
	border-color: #ff0af7;
    left: 370px;
    top: 19px;
    color: #ff0af7;
}

/*.item-line.item8{
	background-color: #fff;
	transform: rotate(-75deg);
	z-index: 2;
	height: 880px;
}*/

.bird{
	position: absolute;
	z-index: 3;
	top:50%;
	margin-top: -180px;
	right:100px;
	opacity: .82;
}
.cloud{
	position: absolute;
	z-index: 2;
	top:50%;
	margin-top: -340px;
	right:70px;
	opacity: .82;
}
.sun{
	position: absolute;
	z-index: 2;
	left:0;
	top:0;
}











